Source: libconbtui
Section: x11
Priority: optional
Maintainer: Ivan J. <parazyd@dyne.org>
Build-Depends: debhelper (>=9)
Standards-Version: 3.6.1

Package: conbtdialogs-dev
Architecture: all
Depends: pkg-config
Description: DBUS API for invoking various Bluetooth dialogs
 This package provides the DBUS API for invoking various Bluetooth dialogs.
